{% set typeList = collections.recipes %}
<ul class="meal-type-buttons" id="button-list">
  <li>
    <button class="meal-type">Show All</button>
  </li>
  {% for type in collections.typeList -%}
  <li>
    <button class="meal-type">{{ type }}</button>
  </li>
  {%- endfor %}
</ul>