{% set typeList = collections.recipes %}
<ul id="button-list" class="page-wrapper flex">
  <li class="meal-type selected">
    <button>All</button>
  </li>
  {% for type in collections.typeList -%}
  <li class="meal-type">
    <button>{{ type }}</button>
  </li>
  {%- endfor %}
</ul>