{% extends 'base.njk' %}

{% block stuff -%}
<div class="text-wrapper flow">
  <h1>{{ title }}</h1>
  <hr>
  <div class="flex">
    <p class="inline">{% for i in range(0, rating) %}⭐{% endfor %}</p>
    <p class="inline">⏱️ Prep time: {{ prepTime }}</p>
    <p class="inline">🥘 Cooking time: {{ cookTime }}</p>
  </div>
  <h2>Ingredients</h2>
  <ul>
    {% for ingredient in ingredients -%}
    <li style="list-style: none">
      <input type="checkbox" id="ingredient{{loop.index}}">
      <label for="ingredient{{loop.index}}">{{ingredient}}</label>
    </li>
    {% endfor%}
  </ul>
  <hr>
  <h2>Instructions</h2>
  {{ content | safe }}
</div>
{%- endblock %}