<div class="auto-grid page-wrapper">
  {% for recipe in collections.recipes -%}
    <a href="{{recipe.url}}" class="index">
      <article class="index-card">
        <h2>{{ recipe.data.title }}</h2>
        <p class="stars">{% for i in range(0, recipe.data.rating) %}★{% endfor %}</p>
        <p>🔪 Prep time: {{ recipe.data.prepTime }}</p>
        <p>⏱️ Cooking time: {{ recipe.data.cookTime }}</p>
        {% for ingredient in recipe.data.ingredients -%}
          <p>• {{ingredient}}</p>
        {% endfor%}
      </article>
      <img class="index-image" src="{{recipe.data.image}}" alt="{{recipe.data.title}}">
    </a>
  {%- endfor %}
</div>