:root {
	--auto-grid-min-size: 300px;
	--size-base: 17.5px;
	--page-max-width: 1550px;
	--text-max-width: 65ch;
	/* Major second type scale */
	--size-sm: calc(var(--size-base) * 0.8);
	--size-md: calc(var(--size-base) * 1.125);
	--size-lg: calc(var(--size-base) * 1.266);
	--size-h3: calc(var(--size-base) * 1.424);
	--size-h2: calc(var(--size-base) * 1.602);
	--size-h1: calc(var(--size-base) * 1.802);

	--color-dark: #171717;
	--color-med-dark: #2E2E2E;
	--color-med: #747474;
	--color-med-light: #B9B9B9;
	--color-light: #E8E8E8;
}

/*  this is a guide for placement */
* {
	/* border: 1px solid red; */
}

/* MAIN PAGE STYLES */
body {
	color: var(--color-med-dark);
  text-align: left;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 0 var(--size-base, 1rem);
}

header > * {
	margin-top: var(--size-base, 1rem);
}

main {
	padding: var(--size-base, 1rem) 0;
}

footer {
	margin-top: auto;
}

.page-wrapper {
	margin-left: auto;
  margin-right: auto;
	max-width: var(--page-max-width);
}
.text-wrapper {
	margin-left: auto;
  margin-right: auto;
	max-width: var(--text-max-width);
}
.auto-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size, 16rem), 500px));
	grid-template-rows: repeat(auto-fit, 300px);
	grid-gap: var(--size-base, 1rem);
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.inline {
	display: inline-block;
}
.flow > * {
	margin-block-start: var(--size-md);
}
input[type=checkbox] {
	margin-left: 0;
}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: var(--color-med);
}
/* Recipes / Index Cards */
.index-card {
	text-decoration: none;
	position: relative;
	box-shadow: 0 3px 6px 0 var(--color-med-light);
}
.index-card-desc {
	overflow: hidden;
	padding: var(--size-base, 1rem);
	text-align: left;
	background-color: white;
	color: var(--color-dark);
	height: 300px;
	position: relative;
	z-index: 10;
}
.index-card-desc > * {
	margin-top: 4px;
}
.index-card-desc > *::after,
.index-card-desc ul li::after {
	content: '';
	display: block;
	width: 100%;
}
.index-card-desc > h2::after {
	height: 2px;
	margin-top: 0.25rem;
	background: salmon;
}
.index-card-desc > p::after,
.index-card-desc ul li::after {
	height: 1px;
	margin-top: 1px;
	background: lightblue;
}
.index-card-desc .stars:after {
	margin-top: -8px;
}
.index-card-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: auto;
	border: 6px solid white;
	z-index: 0;
}
.index-card:hover .index-card-desc {
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9)20%,  rgba(255,255,255,0) 27%, rgba(255,255,255,0) 100%);
}
.index-card:hover p:not([class]) {
	display: none;
}
.index-card:hover .index-card-desc .stars {
	color: white;
}
.index-card:hover .index-card-desc .stars:after {
	background: none;
}

/* Text */
body {
	font-family: 'Special Elite', 'Courier New', Courier, monospace;
}
#site-name {
	font-size: var(--size-h3);
}
.stars {
	font-size: var(--size-h2);
}
h1 {
	font-size: var(--size-h1);
}
h2 {
	font-size: var(--size-h3);
	font-weight: 600;
}
h3 {
	font-size: var(--size-h3);
}
p, li, label {
	font-size: var(--size-base);
}

@media (min-width: 600px) {
	:root{
		--auto-grid-min-size: 500px;
	}
	
}